.div_1 {
    text-align: center;
    background-color: #eee;
    padding: 10px;
    border: 10px orange solid;
}

.div_1 p {
    padding: inherit;
    border: inherit;
}

.P_1 {
    font-family: 'Open Sans', sans-serif;
 
}

.P_2 {
    font-family: 'Cairo', sans-serif;
}

.P_3 {
    font-family: 'Jomhuria', cursive;

}

.P_4 {
    font-size: 3.125rem;
}

.P_5 {
    font-size: 2.5rem;
}

.P_6 {
    font-size: 1.875rem;
}