.parent .child span {
    color: red;
}

.parent .title {
    color: blue;
}

body .title,
.parent p {
    color: green;
}

.bezo {
    background-color: brown;
    padding: 1%;
    width: fit-content;
}

.shedo {
    background-color: brown;
    padding: 1%;
    max-width: 300px;
    max-height: 50px;
}



